:root {
  // brand colors
  --c-brand: #27B5E2 !important;
  --c-brand-light: #28bce9 !important;
  --c-tip: #27B5E2 !important;

  --s-white: var(--c-text);

  scroll-behavior: smooth;
}

html.dark {
  --c-bg: #1a1a1a;
  --c-bg-light: #262626;
  --c-bg-lighter: #1a1a1a;
  --c-border: #2d2d2d;
  --c-text-quote: #cbcbcb;
  --c-border-dark: #2d2d2d;

  // custom colors 
  --s-white: #fff;

}

/* 
* Vuepress overrides
*/
.navbar .site-name {
  font-size: 1rem;
}

h1#main-title {
  font-size: 48px;
  font-weight: 800;
  background: -webkit-linear-gradient(45deg, #27B5E2, #63E227 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sidebar-items,
.page-meta,
.footer {
  font-size: 13px;
}

.sidebar .sidebar-item-children {
  margin-bottom: 1em;
}

.sidebar-item.sidebar-heading {
  color: var(--s-white);
}

.tip {
  border-radius: 0 5px 5px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--s-white);
  font-weight: 400;
}

h2 {
  font-size: 1.4rem;
}

.sidebar a {
  transition: color .5s ease;
}

.home .hero .description {
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.features .feature {
  font-size: 15px;
}

/*
* custom CSS
*/
.image-wrapper {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.widget-image {
  border-radius: 14px;
  border: 3px solid #212121;
  height: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}
